__pycache__/
DatasetSamples/Depth Map/
DatasetSamples/RGB/
test_videos/
vitpose_models/
_base_/
configs/
mmdet_configs/
test_images/
vitpose_configs/
*.png
*.pth
*.mp4
*.jpg
*.avi
aPs_*.npy
eDs_*.npy
videoCropping.py